<div class="jumbotron" id="menu">
<h2><%= @user.username %>'s DymePieces</h2>
<% if @current_user && @current_user.valid? %>
  <p><a href="/dymepieces" class="btn btn-primary btn-lg">Browse DymePieces</a>
  <a href="/dymepieces/new" class="btn btn-primary btn-lg" role="button">Make a DymePiece</a>
  <a href="/users/session/logged_out" class="btn btn-primary btn-lg" role="button">Log out</a>

   <a style="strong" class="label label-success" href="mailto:?subject=You have been invited to Dyme&body=Signup for an account on Dyme and checkout some of my top 10 favourite things (we call these lists DymePieces). You can view tons of other DymePieces, comment on friends' choices, and create your own DymePieces. Give it a whirl at www.Dyme.com">Invite a friend</a></p>
  
  <% else %>
  <p><a href="/users/signup" class="btn btn-primary btn-lg" role="button">Signup here!</a>
  <a href="/users/login" class="btn btn-primary btn-lg" role="button">Log in</a></p>
</div>
<% end %>
</div>

<div class="jumbotron">
<% @dymepieces.reverse.each do |dymepiece| %>
  <div class="dymepiece">
    <h3><a href="/dymepieces/<%= dymepiece.id %>"><%= dymepiece.topic %></a></h3>
    <p><small>Uploaded <%= dymepiece.created_at %></small></p>
  </div>

  <form action='/dymepieces/delete/<%= dymepiece.id %>', method='post'>
    <div>
    <% if @current_user && @current_user.id == dymepiece.user.id %><input type="submit" value="Delete"><% end %>
  </div>
</form>
<% end %></div>
 