<div class="jumbotron" id="menu">
<h2>Top 10 <%= @dymepiece.topic %></h2>
<p><a href="/dymepieces" class="btn btn-primary btn-lg" role="button">Browse DymePieces</a>
<a href="/dymepieces/new" class="btn btn-primary btn-lg" role="button">Make a DymePiece</a>

<% if @current_user && @current_user.valid? %>
	<a href="/users/profile/<%= @current_user.id %>" class="btn btn-primary btn-lg" role="button">My DymePieces</a>
	<a href="/users/session/logged_out" class="btn btn-primary btn-lg" role="button">Log out</a>
	<% else %>
	<a href="/users/signup" class="btn btn-primary btn-lg" role="button">Signup here!</a>
	<a href="/users/login" class="btn btn-primary btn-lg" role="button">Log in</a>
<% end %>

<a class="label label-success" href="mailto:?subject=You have been invited to Dyme&body=Signup for an account on Dyme and checkout some of my top 10 favourite things (we call these lists DymePieces). You can view tons of other DymePieces, comment on friends' choices, and create your own DymePieces. Give it a whirl at www.Dyme.com">Invite a friend</a></p>


</div>

<div class="jumbotron" id="show">
<% @items.each do |item| %>
	 <% @item_id = item.id %>
	
	<h2>
	  <%= item.description %>       
	</h2>

	<div><img src="<%= item.img_url %>" width="80%" onerror="this.style.display='none'"></div>
	<h3><a href="/dymepieces/items/<%= @item_id.to_s %>" class="btn btn-primary btn-lg" role="button">Edit Item</a></h3>

	<ul><% item.comments.each do |c| %>
		<li><h4><%= c.content %></h4></li>
		 <p><small>Author: <%= User.find(c.user.id).username %></small></p>
		<% end %></ul>

	<div><form action="/comment/<%= item.id %>", method='post'>
		<div>
    	<label>Comment</label>
    	<input type="text" name="content" size="60">
  	</div>

    <div>
    	<input type="submit" value="Comment">
  	</div>
	</form></div>

	<hr/>
<% end %></div>